body{
    background-color: #B2DFDB;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.tableros{
    display: flex;
    flex-direction: row;
}
.equipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
#azul{
    display: block;
    margin: auto;
}
