body{
    background-color: #B2DFDB;
    width: 100vw;
    max-width: 100%;
}

.equipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#azul{
    display: block;
    margin: auto;
}
